<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2.Projekt</title>
</head>
<style>
  table, th, td {
    border:1px solid black;
  }
</style>
<body>
    <button id="local_security" onclick="localSecurity()" class="button1">Promjeni sigurnost aplikacije</button>
    <p id="sigurnost" form="movie_form" name="test"></p>
    <a href="/">Home</a><br>

    <h1> 2. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <h2> SQL umetanje (SQL Injection) </h2>

      <form id="movie_form" method="POST" action="/sql">
        <p>Pronadi film prema rijeci iz naziva!</p>

        <input type="text" name="movie_name">
        <input id="test123" type="hidden" name="sigurnost" value="" />
        <input type="submit" value="Pronadi Flimove!">
      </form>

      <br>
      <hr>
      <% if(valid){ %>
      <table style="width:100%">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Genre</th>
          <th>Director</th>
          <th>Year</th>
        </tr>
        <% for(var i=0; i < movies.length; i++) { %>
          <tr>
            <td><%= movies[i]["id"] %></td>
            <td><%= movies[i]["name"] %></td>
            <td><%= movies[i]["genre"] %></td>
            <td><%= movies[i]["director"] %></td>
            <td><%= movies[i]["year"] %></td>
          </tr>
       <% } %>
      </table>
      <% } %>
      
      <script>
        // Check browser support
        if (typeof(Storage) !== "undefined") {
            // Store
            console.log(localStorage.getItem("security"));
            if(localStorage.getItem("security") == null){
                localStorage.setItem("security", "safe");
            }
        } else {
            console.log("Sorry, your browser does not support Web Storage...");
        }
        document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
        document.getElementById("test123").value = localStorage.getItem("security");

        function localSecurity(){
            if(localStorage.getItem("security") == "safe"){
                localStorage.setItem("security", "unsafe");
                document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
                document.getElementById("test123").value = localStorage.getItem("security");
            }
            else{
                localStorage.setItem("security", "safe");
                document.getElementById("sigurnost").innerHTML = localStorage.getItem("security");
                document.getElementById("test123").value = localStorage.getItem("security");
            }
        }
    </script>
</body>
</html>

