<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2.Projekt</title>
</head>
<style>
  table, th, td {
    border:1px solid black;
  }
</style>
<body>
    <h1> 2. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <h2> SQL umetanje (SQL Injection) </h2>

      <form id="movie_form" method="POST" action="/sql">
        <p>Pronadi film prema rijeci iz naziva!</p>
        
        <legend>Odaberi razinu sigurnosti?</legend>
        <input type="radio" name="security" value="nesigurno" checked>Nesigurno<br>
        <input type="radio" name="security" value="sigurno">Sigurno<br>

        <input type="text" name="movie_name">
        <input type="submit" value="Pronadi Flimove!">
      </form>

      <br>
      <hr>
      <% if(valid){ %>
      <table style="width:100%">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Genre</th>
          <th>Director</th>
          <th>Year</th>
        </tr>
        <% for(var i=0; i < movies.length; i++) { %>
          <tr>
            <td><%= movies[i]["id"] %></td>
            <td><%= movies[i]["name"] %></td>
            <td><%= movies[i]["genre"] %></td>
            <td><%= movies[i]["director"] %></td>
            <td><%= movies[i]["year"] %></td>
          </tr>
       <% } %>
      </table>
      <% } %>
      

</body>
</html>

